<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SeriesIDParser.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SeriesIDParser.ResolutionMap" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SeriesIDParser.Settings>
            <setting name="ResMap_UltraHD8K" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>8K</string>
                        <string>4320P</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ResMap_UltraHD" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>UHD</string>
                        <string>2160P</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ResMap_FullHD" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>FULLHD</string>
                        <string>1080P</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ResMap_HD" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>HDTV</string>
                        <string>720P</string>
                        <string>HD</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ResMap_SD" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>DVDRIP</string>
                        <string>DVD</string>
                        <string>XVID</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Remove_Token" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>DUBBED</string>
                        <string>SYNCED</string>
                        <string>DL</string>
                        <string>AVC</string>
                        <string>GERMAN</string>
                        <string>ITUNES</string>
                        <string>DTS</string>
                        <string>BLURAY</string>
                        <string>X264</string>
                        <string>H264</string>
                        <string>AC3D</string>
                        <string>AAC</string>
                        <string>WEBHD</string>
                        <string>NETFLIXUHD</string>
                        <string>WEBRIP</string>
                        <string>DD20</string>
                        <string>DD51</string>
                        <string>8K</string>
                        <string>UHD</string>
                        <string>FULLHD</string>
                        <string>1080P</string>
                        <string>HDTV</string>
                        <string>720P</string>
                        <string>HD</string>
                        <string>DVDRIP</string>
                        <string>XVID</string>
                        <string>DVD</string>
                        <string>2160P</string>
                        <string>M4V</string>
                        <string>MP4</string>
                        <string>AVI</string>
                        <string>WMV</string>
                        <string>MPEG</string>
                        <string>MPG</string>
                        <string>FLV</string>
                        <string>MKV</string>
                        <string>MIRROR</string>
                        <string>DOKU</string>
                        <string>WEB</string>
                        <string>BD9</string>
                    </ArrayOfString>
                </value>
            </setting>
        </SeriesIDParser.Settings>
        <SeriesIDParser.ResolutionMap>
            <setting name="UltraHD" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>UHD</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="FullHD" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>FULLHD</string>
                        <string>1080P</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="HD" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>HDTV</string>
                        <string>720P</string>
                        <string>HD</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SD" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>DVD</string>
                    </ArrayOfString>
                </value>
            </setting>
        </SeriesIDParser.ResolutionMap>
    </applicationSettings>
</configuration>